nav {
  width: 100%;
}

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  background: #565656;
  color: white;
  text-decoration: none;
  list-style: none;
  gap: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
}
